<table class="tg">
    <thead>
        <tr>
            <th class="tg-0pky" scope="col">Colocação</th>
            <th class="tg-0pky" scope="col">Nome da Música</th>
            <th class="tg-0pky" scope="col">Artista</th>
            <th class="tg-0pky" scope="col">Quantidade de plays</th>
        </tr>
    </thead>
    <% for(var i=0; i < data.length; i++) { %>
       <tr>
         <td><%= i + 1 %></td>
         <td><%= data[i].Nome %></td>
         <td><%= data[i].Artista %></td>
         <td><%= data[i].Qtd %></td>
       </tr>
    <% } %>
</table>

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>